@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
    border: border-box;
}


body {
    background: radial-gradient(circle, rgba(67,145,255,1) 0%, rgba(190,117,255,0.6222864145658263) 100%);
    color: rgb(179, 179, 179);
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Abel', sans-serif;
    margin: 50px 300px;
    background: radial-gradient(circle, rgba(172,67,255,1) 0%, rgba(47,51,231,0.6222864145658263) 100%);;
    border: 1px solid rgb(69, 72, 82);
    padding: 50px;
    box-shadow: 10px 10px 5px #180c3b;
}

h3 {
    display: inline-block;
}
button {
    padding: 3px;
    color: rgb(69, 72, 82);
    background-color: rgb(202, 226, 224);
    font-family: 'Abel', sans-serif;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Abel', sans-serif;
    margin: 0px 300px;
    background: radial-gradient(circle, rgba(174, 67, 255, 0.582) 0%, rgba(51, 54, 228, 0.622) 100%);
    padding: 20px 0px 100px 0px;
    border-radius: 20%;
    box-shadow: 10px 10px 5px #351b86;
}

.temp {
    color: white;
    display: inline-block;
    letter-spacing: 0.5px;
}

img {
    width: 50px;
}